// screen sizes
$screen-xs: 350px;
$screen-s: 576px;
$screen-m: 768px;
$screen-l: 1200px;
$screen-xl: 1200px;

// container
$container-max-w: 1280px;
$container-pd-xs: 10px;
$container-pd-s: 15px;
$container-pd-m: 20px;
$container-pd-l: 30px;
$container-pd-xl: 50px;

// grid gap
$grid-gap-xs: 10px;
$grid-gap-s: 15px;
$grid-gap-m: 20px;
$grid-gap-l: 25px;
$grid-gap-xl: 50px;
